src/main/mule/common.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<sub-flow name="common-ImplFlow" doc:id="aac4fc43-4e86-4497-a1b7-46df2d2adf9b" >
		<logger level="INFO" doc:name="Data Size" doc:id="3bcc4819-1816-4cb6-b511-1784501046ad" message="Recieved the data from GET Call #[sizeOf(payload.data)]" />
		<set-variable value="#[output application/json --- sizeOf(payload.data) as Number default 0]" doc:name="Set Variable" doc:id="99985f5f-1bf4-423b-ab2b-188b5aefc2e3" variableName="recordsCount"/>
		<logger level="INFO" doc:name="Logger" doc:id="7f7f7c89-4bcf-40fc-8530-0ba2ecbaeaca" message="Started processing records of size #[output application/json --- sizeOf(payload.data)]" />
		<choice doc:name="Choice" doc:id="6ae5fd20-5c59-4cce-b107-edf566eb3481">
			<when expression="#[vars.systemName ~= 'OpenData']">
				<ee:transform doc:name="DB insert" doc:id="c537848b-3998-4cb2-88b7-ad6fcd4b15db">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
fun nullCheck(data) = (if(!isEmpty(data)) data else null)
---
payload.data map ({
	cases: $.cases,
	countriesAndTerritories: $.countriesAndTerritories,
	dateRep: ($.dateRep as Date {format: "dd/MM/yyyy"}) as Date {format: "yyyy-MM-dd"},
	day: $.day,
	month: $.month,
	deaths: $.deaths,
	'Cumulative_number_for_14_days_of_COVID': nullCheck($.'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000'),
	geoId: $.geoId,
	countryterritoryCode: $.countryterritoryCode,
	year: $.year,
	popData2019: nullCheck($.popData2019),
	continentExp: $.continentExp,
	External_Id__c: ($.countryterritoryCode default "") ++ "_" ++ (($.dateRep as Date {format: "dd/MM/yyyy"}) as String {format: "ddMMyyyy"}) 
})]]></ee:set-payload>
			</ee:message>
					<ee:variables>
					</ee:variables>
		</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="DB insert" doc:id="b00fe6d3-6002-4db3-9fb9-98414f7f12b5">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
fun nullCheck(data) = (if(!isEmpty(data)) data else null)
---
payload.data map ({
	cases: $.cases,
	date: ($.date as Date {format: "yyyy-MM-dd"}) as Date {format: "yyyy-MM-dd"},
	county: $.county,
	state: $.state,
	deaths: nullCheck($.deaths),
	fips: nullCheck($.fips),
	External_Id__c: ($.county default "") ++ "_" ++ (($.date as Date {format: "yyyy-MM-dd"}) as String {format: "ddMMyyyy"}) ++ "_" ++ ($.state default "")
})]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;p(vars.systemName ++ ".insert.query")]' doc:name="query" doc:id="93bca64d-f7d9-485b-aa61-aa4c3378d73b" variableName="query" />
		<logger level="INFO" doc:name="Logger" doc:id="06f45bfe-fac3-490c-941e-99674e51df40" message="query being used - #[vars.query]" />
		<try doc:name="Try" doc:id="3bb67a81-af17-4338-929c-b7d9e4174ed7">
			<db:bulk-insert doc:name="Bulk insert" doc:id="fbc3b3e8-906f-4a44-bd69-c775857569a0" config-ref="Database_Config">
				<db:sql><![CDATA[#[vars.query]]]></db:sql>
			</db:bulk-insert>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="166ad623-9fe4-4d29-86d6-ee2a6f6d86b1">
					<set-payload value="#[output application/json --- Error : error]" doc:name="Set Payload" doc:id="a675dece-1446-427c-9aeb-38dde89a77a9" />
				</on-error-continue>
			</error-handler>
		</try>
		<set-payload value='#[output application/json&#10;---&#10;if(isEmpty(payload.Error))&#10;{&#10;    "status": "Success",&#10;    "message": ["Data uploaded successfully"]&#10;  }&#10;else &#10;{&#10;    status: if(!isEmpty(payload.Error)) "Error" else "Success",&#10;    message: (payload.Error)..message default [payload.error.description]&#10;}]' doc:name="Set Payload" doc:id="64e2f202-7b25-421a-b551-294599498808" />
		<set-variable value="#[output application/json --- vars.tempResp ++ [payload]]" doc:name="Set Variable" doc:id="74b8667e-deca-449a-94ac-3bdda10d57cc" variableName="tempResp" />
		<logger level="INFO" doc:name="Logger" doc:id="53710fca-49b5-444a-9b44-3007ba63d598" message="Response - #[output application/json --- payload]" />
	</sub-flow>
	<flow name="commonSub_Flow" doc:id="70ff66f6-f75e-4639-bba3-f97bad9b072f" >
		<try doc:name="Try" doc:id="3b86084f-700d-466a-a560-27d82dba1203" >
			<http:request method="#[output application/java --- vars.endpoint.method]" doc:name="Third Party Call" doc:id="20c5a93d-530d-4631-89b9-a6c517c58867" url="#[output application/java --- vars.endpoint.url]" responseTimeout="${response.timeOut}" sendCorrelationId="ALWAYS">
			<ee:repeatable-file-store-stream bufferUnit="BYTE" />
			<http:body><![CDATA[#[output application/java --- vars.endpoint.body]]]></http:body>
			<http:headers><![CDATA[#[output application/java --- vars.endpoint.headers]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java --- vars.endpoint.uriParams]]]></http:uri-params>
			<http:query-params><![CDATA[#[output application/java --- vars.endpoint.queryParams]]]></http:query-params>
		</http:request>
			<set-variable value="#[payload.nextPage.url]" doc:name="Set Variable" doc:id="bfabd096-e3e7-49e8-a64b-4795f95c8ba0" variableName="urlProperties" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="0971768c-dccf-4e36-9ab4-e66ca7a04ef2" >
					<set-payload value='#[output application/json&#10;---&#10;{&#10;    status:  "Error" ,&#10;    message:  [error.description]&#10;}]' doc:name="Set Payload" doc:id="96887421-6a95-411c-b4f3-aef5032ac9ea" />
					<set-variable value="#[output application/json --- vars.tempResp ++ [payload]]" doc:name="Set Variable" doc:id="653b6e43-7ed5-480a-9bc8-7465075e23dc" variableName="tempResp" />
				</on-error-continue>
			</error-handler>
		</try>
		<choice doc:name="Choice" doc:id="2a25bd4b-b45e-45aa-aef0-f53ed385a13f" >
			<when expression='#[payload.status != "Error"]'>
				<flow-ref doc:name="Flow Reference" doc:id="174509d2-2f5c-4640-97a2-539fe3bf4cac" name="common-ImplFlow" />
				<choice doc:name="Choice" doc:id="975d16ff-aaea-449f-8cf7-26669c3288a5">
			<when expression="#[!isEmpty(vars.urlProperties)]">
				<set-variable value='#[%dw 2.0&#10;import * from dw::util::Values&#10;output application/json&#10;---&#10;vars.endpoint update field("url") with vars.urlProperties]' doc:name="Set Variable" doc:id="3fc9d0cd-e04c-4b76-b609-458d61e57994" variableName="endpoint" />
				<logger level="INFO" doc:name="Logger" doc:id="8b24bc02-f578-4c9c-9d8c-c83b4f67091b" message="Updated the URL properties - #[output application/json --- vars.endpoint]" />
						<flow-ref doc:name="commonSub_Flow" doc:id="48d05ec4-8d7e-4714-bd1b-94672506d54b" name="commonSub_Flow"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="9facc2fb-38f5-4455-ab06-4f2f6ad84340" message="Skipping the loop." category="Response in the " />
			</otherwise>
		</choice>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="185b25a9-ad03-4c18-a8ac-d32332bcf7d6" message="Recieved an error so returning the process"/>
			</otherwise>
		</choice>
	</flow>
</mule>
